@use 'resets' as *;
@use 'mixins' as *;
@use 'variables' as *;

.main {
    width: 100%;
    min-height: 100vh;
    
    @include flexCenter(row);

    @include maxScreenSize($brakepoint-mobile) {
        display: block;
    }

    &__card-display-div {
        width: 33.5%;
        @include backgroundCover("../assets/bg-main-desktop.png"); 
        @include flexCenter(column, normal);
        gap: 4rem;
        position: relative;

        @include maxScreenSize($brakepoint-mobile) {
            @include backgroundCover("../assets/bg-main-mobile.png");
            display: block;
            width: 100%;
            height: 24rem;
            background-size: cover;
        }
    }

    &__form-div {
        width: 66.5%;
        @include flexCenter(column, center);

        @include maxScreenSize(1650px) {
            width: 66.5%;
            @include flexCenter(column, flex-end);
            padding-right: min(22.7rem, 15.8vw);
        }

        @include maxScreenSize($brakepoint-tablet) {
            width: 100%;
            align-items: center;
            padding-left: 20rem;
            padding-top: 15rem;
        }

        @include maxScreenSize($brakepoint-mobile) {
            padding: 9.1rem 2.4rem 4.5rem 2.4rem;
        }
    }
}

.main > * {
    min-height: 100vh;

    @include maxScreenSize($brakepoint-mobile) {
        min-height: auto;
    }
}

.card-front .grid-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2.55rem;
}

.card-front {
    @include backgroundCover("../assets/bg-card-front.png");
    width: 44.7rem;
    height: 24.5rem;
    padding: 2.8rem 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: map-get($clr, primary);
    text-transform: uppercase;

    position: relative;
    left: 34%;

    @include maxScreenSize(1300px) {
        left: 21%;
    }

    @include maxScreenSize($brakepoint-tablet) {
        position: absolute;
        width: 28.6rem;
        height: 15.7rem;
        top: 12.64rem;
        left: 5vw;
        z-index: 2;
        padding: 2.8rem 3.2rem;
        padding: 1.76rem 2.06rem 2.06rem 1.9rem;
    }

    @include maxScreenSize($brakepoint-mobile) {
        top: 12.64rem;
        left: 5vw;
    }

    @include maxScreenSize(374px) {
        left: 50%;
        transform: translateX(-50%);
    }

    &__decoration {
        width: 5.4rem;
        height: 3rem;
    }

    &__card-number {
        grid-column: span 2;
        font-size: map-get($fs, fs-ml);
        letter-spacing: .22rem;
    }

    &__exp-date {
        display: flex;
        justify-content: flex-end;
    }

    &__exp-date, &__card-name {
        font-size: map-get($fs, fs-m);
        letter-spacing: .2rem;

        @include maxScreenSize($brakepoint-tablet) {
            font-size: map-get($fs, fs-xs);
        }
    }
}

.card-back {
    @include backgroundCover("../assets/bg-card-back.png");
    width: 44.7rem;
    height: 24.5rem;
    text-transform: uppercase;
    color: map-get($clr, primary);

    position: relative;
    left: 53%;

    @include maxScreenSize(1300px) {
        left: 40%;
    }

    @include maxScreenSize($brakepoint-tablet) {
        position: absolute;
        left: 0;
        width: 28.6rem;
        height: 15.7rem;
        top: 3.2rem;
        left: 20vw;
    }

    @include maxScreenSize($brakepoint-mobile) {
        top: 3.2rem;
        left: 20vw;
    }

    @include maxScreenSize(374px) {
        left: 50%;
        transform: translateX(-50%);
    }
    
    &__cvc {
        font-size: map-get($fs, fs-m);
        letter-spacing: .2rem;
        padding-top: 11.1rem;
        padding-left: 35.8rem;

        @include maxScreenSize($brakepoint-tablet) {
            font-size: map-get($fs, fs-xs);
            letter-spacing: .1286rem;
            padding: 7.364rem 3.7rem;
            float: inline-end
        }
    }
}

.main-form {
    @include flexCenter(column);
    gap: 2.6rem;
    width: min(38.1rem, 27vw);

    @include maxScreenSize($brakepoint-mobile) {
        gap: 2rem;
    }

    @include maxScreenSize($brakepoint-tablet) {
        max-width: 40rem;
        width: 100%;
    }

    &__input:nth-child(1), &__input:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: .9rem;
        width: 100%;
    }

    &__input:nth-child(3) {
        display: flex;
        align-items: baseline;
        gap: 2rem;
        width: 100%;
    }

    &__input:nth-child(3) .grid-group {
        max-width: 20rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: .9rem;
        column-gap: 1rem;
    }

    &__input:nth-child(3) .grid-group input{
        min-width: 8rem;
        width: 100%;

        @include maxScreenSize(300px) {
            min-width: 6.7rem; 
        }
    }

    &__input:nth-child(3) .grid-group .label-name {
        grid-column: span 2;
    }

    &__input:nth-child(3) .flex-group {
        display: flex;
        flex-direction: column;
        gap: .9rem;
        width: auto;
    }

    &__input:nth-child(3) .flex-group input{
        width: 100%;
    }
}

.submit-div {
    @include flexCenter(column, center);
    width: 100%;
    max-width: 38.1rem;
    gap: 2.5rem;

    h3 {
        font-size: map-get($fs, fs-xl);
        color: map-get($clr, secondary);
        letter-spacing: .2rem;
        text-transform: uppercase;
    }

    p{
        font-size: map-get($fs, fs-m);
        color: map-get($clr, neutral-500);
    }

    .btn {
        margin-top: 3rem;
    }

}

.btn {
    width: 100%;
    min-height: 5.3rem;
    border-radius: .8rem;
    background-color: map-get($clr, secondary);
    color: map-get($clr, primary);
    padding: 1.5rem 0;
    font-size: map-get($fs, fs-ml);
}

.btn:hover {
    background-color: hsl(278, 68%, 11%, 0.5);
    cursor: pointer;
    color: map-get($clr, secondary);
    transition: ease-in-out, .3s;
}

.input-field {
    min-height: 4.5rem;
    border: .1rem solid map-get($clr, neutral-800);
    border-radius: .8rem;
    padding: 1.1rem 1.6rem;
    color: map-get($clr, secondary);
    font-size: map-get($fs, fs-ml);

    @include maxScreenSize($brakepoint-mobile) {
        min-width: 6.7rem; 
    }
}

.input-field::placeholder {
    opacity: .25;
}

.input-field:focus {
    outline: none;
    border: .1rem solid transparent;
    background-image: linear-gradient(white, white), 
                      linear-gradient(hsl(249, 99%, 64%, 1), hsl(278, 94%, 30%, 1));
    background-origin: border-box;
    background-clip: padding-box, border-box;  
}

.label-name {
    font-size: map-get($fs, fs-s);
    letter-spacing: .2rem;
    text-transform: uppercase;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.error-mesage {
    color: red;
    font-size: map-get($fs, fs-s);
}






